<div class='content-container color-{{ section.settings.color_scheme }}'>
  <div class='about-section'>
    <!-- First Column -->
    <div>
      <h1>{{ section.settings.heading_text }}</h1>
      <p>{{ section.settings.paragraph_text }}</p>
    </div>
    <!-- Second Column -->
    <img
      srcset='{{ section.settings.background_image | img_url: 'master' }}'
      class='xw-full xh-auto xrounded-xl'
      alt='image'
    >
    <img
      srcset='{{ section.settings.background_image_2 | img_url: 'master' }}'
      class='xw-full xh-auto xrounded-xl'
      alt='image'
    >
  </div>
</div>

{% schema %}
{
  "name": "About Section",
  "class": "section",
  "settings": [
    {
      "id": "heading_text",
      "type": "text",
      "label": "place your title",
      "default": "default subtitle"
    },
    {
      "id": "paragraph_text",
      "type": "text",
      "label": "write your paragraph",
      "default": "default title"
    },
    {
      "id": "paragraph",
      "type": "text",
      "label": "place your paragraph",
      "default": "default paragraph"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "background_image_2",
      "label": "Background Image"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ],
  "presets": [
    {
      "category": "text",
      "name": "Welcome Section"
    }
  ]
}
{% endschema %}
